<ion-view view-title="Home">
    <ion-content class="container">
        <div class="row" style="margin-top: 20%">
            <div class="col">
                <div class="text-center">
                    <img src="../img/page1.png">
                    <h4 style="color: gray;">Really efficient meetings</h4>
                </div>
            </div>
        </div>
        <div class="row" style="position: static; margin-top: 50px; width: 100%" ng-click="goToSelectSession()">
            <div class="round-button" style="text-align: center; margin-left: 40%">
                <div class="round-button-circle">
                    <a class="round-button">GO</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
