<ion-view view-title="Home">
    <ion-content class="container">
        <div>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <img src="../img/page1.png">
                        <h4>Really efficient meetings</h4>
                    </div>
                </div>
            </div>
            <div class="row" style="position:relative;top: 25%; text-align: center">
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 col-centered round-button" ng-repeat="session in sessions" ng-click="showSession(session.id)">
                    <div class="round-button-circle">
                        <a class="round-button">{{session.title}}</a>
                    </div>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<button ng-repeat="session in sessions" ng-click="showSession(session.id)"-->
                        <!--class="button button-block waves-effect waves-button waves-light activated"-->
                        <!--style="background-color: #ffd71f; font-weight: bold">-->
                    <!--{{session.title}}-->
                <!--</button>-->
            <!--</div>-->
        </div>
    </ion-content>
</ion-view>
