<ion-view view-title="Home">
    <ion-content class="container">
        <div class="row" style="margin-top: 20%">
            <div class="col">
                <div class="text-center">
                    <h3>Select the session type</h3>
                </div>
            </div>
        </div>


        <div class="row" style="position:relative;left: 35%; text-align: center;margin-bottom: 10px;" ng-repeat="session in sessions"
             ng-click="showVersions(session.id)">
            <div class="round-button">
                <div class="round-button-circle">
                    <a class="round-button">{{session.title}}</a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
