<ion-view view-title="Sesión {{sessionType === '0' ? 'simple' : 'multi parte'}}" ng-init="init()">
    <ion-content class="container">
        <div ng-if="isMultiple && !isRunning" style="width: 100%" class="text-center">
            <div class="row text-center">
                <div class="text-center">
                    Número de partes
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i style="display: inline-block; font-size: x-large" class="icon ion-minus-circled"
                       ng-click="decrementSteps()"></i>
                </div>
                <div class="col">
                    <span style="display: inline-block; text-align: center">{{numberOfSteps}}</span>
                </div>
                <div class="col">
                    <i style="display: inline-block; font-size: x-large" class="icon ion-plus-circled"
                       ng-click="incrementSteps()"></i>
                </div>
            </div>
        </div>
        <div class="row"
             style="background: url('../img/group.png') no-repeat center;padding-top: 20%;
             padding-bottom: 20%;">
            <div class="col">
                <div class="text-center">
                    <canvas id="pie" class="chart chart-pie"
                            chart-data="data" chart-labels="labels" chart-options="pieOptions">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="row" ng-if="!isMultiple">
            <div class="col">
                <!--<div class="row" style="background-color: whitesmoke; text-align: center">-->
                    <!--<span style="width: 100%; text-align: center">{{data[0]}}</span>-->
                <!--</div>-->
                <div class="row text-center item range">
                    <!--<span style="display: inline-block;position: relative;top: 50%;transform: translateY(-50%);">0</span>-->
                    <rzslider rz-slider-model="data[0]"
                              rz-slider-options="slider.options"></rzslider>
                    <!--<input type="range" name="duration" min="0" max="60" ng-model="data[0]" ng-change="drag(data[0])">-->
                    <!--<span style="display: inline-block;position: relative;top: 50%;transform: translateY(-50%);">60</span>-->
                </div>
            </div>
        </div>
        <div class="row" ng-if="isMultiple" ng-hide="isRunning || isPaused">
            <div class="col">
                <div class="text-center item range range-positive"
                     ng-repeat="i in range(numberOfSteps) track by $index">
                    <input type="range" name="duration" min="0" max="60" ng-model="data[$index]"
                           ng-change="dragIndex()">
                    <span style="display: inline-block;position: relative;top: 50%;transform: translateY(-50%);">{{data[$index]}}</span>
                </div>
            </div>
        </div>
        <button ng-if="data[0] > 0 && !isRunning && !isPaused"
                ng-click="startTimer()"
                class="button button-block button-positive"
                style="background-color: #ffd71f; font-weight: bold">
            Empezar
        </button>
        <button ng-if="isRunning && !isPaused"
                ng-click="pauseOrResumeTimer()"
                class="button button-block button-calm">
            Pausar
        </button>
        <button ng-if="!isRunning && isPaused"
                ng-click="pauseOrResumeTimer()"
                class="button button-block button-balanced">
            Continuar
        </button>
        <button ng-if="isRunning"
                ng-click="stopTimer()"
                class="button button-block button-assertive">
            Parar
        </button>
    </ion-content>
</ion-view>
