<ion-view view-title="Choose duration">
    <ion-content class="container">
        <div>
            <div class="row round-button" style="margin-bottom: 15px" ng-repeat="session in predefinedSessions" ng-click="showSession(session.duration)">
                <div class="round-button-circle">
                    <a class="round-button" ng-if="session.duration > 0">{{session.duration}}'</a>
                    <a class="round-button" ng-if="session.duration == 0"><i class="icon ion-android-add"></i></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
