<ion-view view-title="Choose duration">
    <ion-content class="container">
        <div class="row" style="text-align: center;margin-bottom: 15px" ng-repeat="session in predefinedSessions">
            <div class="round-button-container" style="display:inline-block;" ng-style="session.style"
                 ng-click="goToSimpleSession(session.duration)">
                <div class="round-button-yellow">
                    <a class="round-button-container" ng-if="session.duration > 0">{{session.duration}}'</a>
                    <a class="round-button-container" ng-if="session.duration == 0"><i class="icon ion-android-add"></i></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
