<ion-view ng-init="init()" view-title="Sesión {{sessionType === '0' ? 'simple' : 'multi parte'}}">
    <ion-content class="container">
        <div class="time-progress red-background">
            <div class="row" ng-style="myStyle" ng-repeat="session in cleanData">

            </div>
        </div>
        <div class="row buttons-container">
            <button ng-if="isRunning && !isPaused"
                    ng-click="pauseOrResumeTimer()"
                    class="button button-block button-calm">
                Pausar
            </button>
            <button ng-if="!isRunning && isPaused"
                    ng-click="pauseOrResumeTimer()"
                    class="button button-block button-balanced">
                Continuar
            </button>
            <button ng-if="isRunning"
                    ng-click="stopTimer()"
                    class="button button-block button-assertive">
                Parar
            </button>
        </div>
    </ion-content>
</ion-view>
