<ion-view ng-init="init()" view-title="Sesión {{sessionType === '0' ? 'simple' : 'multi parte'}}">
    <ion-content class="container">
        <audio id="background_audio" autoplay ng-if="loaded && partFinished" ng-hide="loaded">
            <source src="../audio/cuckoo.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <!--<div class="box">-->
        <!--<div class="stay-in-place">-->
        <!--<h1>hello world</h1>-->
        <!--<p>ipsum dolorum caveat emptor veni vidi vici</p>-->
        <!--</div>-->

        <!--<div class="move-in-to-place">-->
        <!--<h2>I'm on top</h2>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="time-progress red-background" on-drag-up="onDragUp()" on-drag-down="onDragDown()">-->
        <!--<div class="row" ng-style="myStyle" ng-repeat="session in cleanData">-->
        <!--<span class="text-center" style="width: 100%; font-weight: bold; font-size: large">{{session}}</span>-->
        <!--</div>-->
        <!--</div>-->
        <div class="stay-in-place">
            <div class="row" ng-style="box[$index]" ng-repeat="session in cleanData track by $index">
                <span class="text-center" style="width: 100%; font-weight: bold; font-size: large">{{session}}</span>
            </div>
            <div ng-style="moveInToPlace">
            </div>
        </div>
        <span class="text-center" style="width: 100%;height: 5%; font-weight: bold; font-size: large">Remaining time: {{remaining}}</span>
        <div class="row">
            <div class="col" ng-if="isRunning && !isPaused">
                <div ng-click="pauseOrResumeTimer()"
                     class="round-button-container" style="margin: auto; width: 50% !important;">
                    <div class="round-button-yellow">
                        <a class="round-button-container">Pause</a>
                    </div>
                </div>
            </div>
            <div class="col" ng-if="!isRunning && isPaused">
                <div ng-click="pauseOrResumeTimer()"
                     class="round-button-container" style="margin: auto; width: 50% !important">
                    <div class="round-button-yellow">
                        <a class="round-button-container">Continue</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div ng-if="isRunning || isPaused"
                     ng-click="stopTimer()"
                     class="round-button-container" style="margin: auto; width: 50% !important">
                    <div class="round-button-grey">
                        <a class="round-button-container">Stop</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row buttons-container">-->
            <!--<button ng-if="isRunning && !isPaused"-->
                    <!--ng-click="pauseOrResumeTimer()"-->
                    <!--class="button button-block button-calm">-->
                <!--Pausar-->
            <!--</button>-->
            <!--<button ng-if="!isRunning && isPaused"-->
                    <!--ng-click="pauseOrResumeTimer()"-->
                    <!--class="button button-block button-balanced">-->
                <!--Continuar-->
            <!--</button>-->
            <!--<button ng-if="isRunning"-->
                    <!--ng-click="stopTimer()"-->
                    <!--class="button button-block button-assertive">-->
                <!--Parar-->
            <!--</button>-->
        <!--</div>-->
    </ion-content>
</ion-view>
