<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="com.bbva.kst.uniqueid">

	<application
		android:name="com.beeva.labs.timetimer.TimeTimerApp"
		tools:replace="android:allowBackup"
		android:allowBackup="false"
		android:fullBackupContent="true"
		android:icon="@drawable/logo"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity
			android:name="com.beeva.labs.timetimer.splash.SplashActivity"
			android:screenOrientation="portrait"
			android:theme="@style/SplashTheme"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER"/>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.speech.action.RECOGNIZE_SPEECH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="1e3b74559393f411845cc37c0c9a43438aef130f"/>

	</application>

</manifest>